# Git submodule definition file
#
# Reference:
#
# * Git - gitmodules Documentation
#   https://git-scm.com/docs/gitmodules
#
# Copyright 2021 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0
[submodule "Basic English word list"]
	path = basic-english-word-list
	url = https://github.com/the-common/basic-english-word-list.git
	ignore = dirty
